{% if page.title and breadcrumbs %}
<div class="ui vertical basic segment" id="breadcrumb-block">
    <div class="ui container">
        <div class="ui breadcrumb" vocab="http://schema.org/" typeof="BreadcrumbList">
            <!-- Iteration breadcrumb item -->
            {% assign position = 0 %}

            {% for crumb in breadcrumbs %}

              <!-- Get breadcrumb title -->
              {% assign caption = crumb.title %}

              <!-- SEO data -->
              {% assign position = position | plus: 1 %}

              <div class="section{% if crumb.url == page.url %} active{% endif %}" property="itemListElement" typeof="ListItem">

                {% if crumb.url != page.url %}
                  <a property="item" typeof="WebPage" href="{{ crumb.url | prepend: page.baseurl }}">
                    <span property="name">{{ caption }}</span>
                  </a>
                {% else %}
                  <span property="name">{{ caption }}</span>
                {% endif %}

                <meta property="position" content="{{ position }}" />
              </div>

              {% if forloop.last == false %}
                <span class="divider">/</span>
              {% endif %}

            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
