<footer class="footer footer--more-links">
    <div class="ui container footer__container">
        <div class="footer__col">
            <h3 class="footer__headaing" role="heading" tabindex="-1">Company</h3>
            <ul class="footer__list footer__list--company">
                <li>
                    <a href="https://www.x-cart.com/about.html" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/contact-us.html" class="footer__link">Contact Us</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/privacy-policy.html" class="footer__link">Privacy Policy</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/license-agreement.html" class="footer__link">License Agreement</a>
                </li>
                <li>
                    <a href="https://drive.google.com/drive/folders/0B4nrWZMKUeg4ZzNvM21aaTFWTDg?usp=sharing" class="footer__link">Our Logos</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <ul class="footer__list footer__list--social">
                <li>
                    <a href="https://www.facebook.com/xcart" class="footer__link footer__link--social-facebook">
                        <span class="fa fa-fb-new-square"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/x_cart" class="footer__link footer__link--social-twitter">
                        <span class="fa fa-tw-new-square"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/xcart/" class="footer__link footer__link--social-instagram">
                        <span class="fa fa-inst-new"></span>
                    </a>
                </li>
            </ul>
            <ul class="footer__list footer__list--phones">
                <li>
                    <span class="footer__link--icon footer__link--icon-flag-us">
                        <a class="phone semi-mimic" href="tel:+18006577957">1-800-657-7957</a>
                    </span>
                </li>
                <li>
                    <span class="footer__link--icon footer__link--icon-flag-gb">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="18" viewBox="0 0 640 480">
                            <defs>
                                <clipPath id="flag_gb_a">
                                    <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z"></path>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#flag_gb_a)" transform="matrix(.94 0 0 .94 80 0)">
                                <g stroke-width="1pt">
                                    <path fill="#006" d="M-256 0H768.02v512.01H-256z"></path>
                                    <path d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z" fill="#fff"></path>
                                    <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff"></path>
                                    <path d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z" fill="#c00"></path>
                                </g>
                            </g>
                        </svg>
                        <a class="phone semi-mimic" href="tel:08000488862">0800-048-8862</a>
                    </span>
                </li>
                <li>
                    <span class="footer__link--icon footer__link--icon-globus-thin">
                        <svg width="18" height="14">
                            <svg enable-background="new 0 0 50 50" height="14" version="1.1" viewBox="0 0 50 50" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <rect fill="none" height="50" width="50"></rect>
                                <circle cx="25" cy="25" fill="none" r="24" stroke="#5194c5" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle>
                                <ellipse cx="25" cy="25" fill="none" rx="12" ry="24" stroke="#5194c5" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></ellipse>
                                <path d="M6.365,40.438C10.766,37.729,17.479,36,25,36 c7.418,0,14.049,1.682,18.451,4.325" fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2"></path>
                                <path d="M43.635,9.563C39.234,12.271,32.521,14,25,14 c-7.417,0-14.049-1.682-18.451-4.325" fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2"></path>
                                <line fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2" x1="1" x2="49" y1="25" y2="25"></line>
                                <line fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2" x1="25" x2="25" y1="1" y2="49"></line>
                            </svg>
                        </svg>
                        <a class="phone semi-mimic" href="tel:+74996088900">+7 (499) 608-8900</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="ui container footer__container footer__container--more-links">
        <h3 class="show-links clearfix">
            <i class="fa fa-bars"></i>Links
        </h3>
    </div>
</footer>
<footer class="footer footer--main" id="section-footer" xmlns="http://www.w3.org/1999/xhtml">
    <div class="ui container footer__container">
        <div class="footer__col">
            <h3 class="footer__headaing" role="heading" tabindex="-1">X-Cart 5</h3>
            <ul class="footer__list">
                <li>
                    <a href="https://www.x-cart.com/ecommerce-solutions.html" class="footer__link">Ecommerce Solutions</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/software_pricing.html" class="footer__link">Software Pricing</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/shopping-cart-demo.html" class="footer__link">Online Store Demo</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/ecommerce-platform.html" class="footer__link">Ecommerce Platform</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/ecommerce-saas.html" class="footer__link">Saas Ecommerce Software</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/success-stories" class="footer__link">Showcases</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/compare-xcart-platforms.html" class="footer__link">X‑Cart&nbsp;4 vs X‑Cart&nbsp;5</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/download.html" class="footer__link">Download</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/multivendor.html" class="footer__link">Multivendor Edition</a>
                </li>
                <li class="p-r-xs-1 p-r-lg-1">
                    <a href="https://www.x-cart.com/enterprise-ecommerce-solution.html" class="footer__link">Enterprise Ecommerce</a>
                </li>
            </ul>
            <h3 role="heading" class="footer__headaing" tabindex="-1">Partners</h3>
            <ul class="footer__list">
                <li>
                    <a href="https://www.x-cart.com/partners" class="footer__link">Featured Partners</a>
                </li>
                <li>
                    <a href="https://market.x-cart.com/experts-and-services/#filter%5Btags%5D=all" class="footer__link">Find a Web Agency</a>
                </li>
                <li>
                    <a href="https://market.x-cart.com/experts-and-services/#filter%5Btags%5D=Hosters" class="footer__link">Find Hosting</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/affiliates.html" class="footer__link">Affiliate Program</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/reseller-program.html" class="footer__link">Reseller Program</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/partner.html" class="footer__link">Become a Partner</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 role="heading" class="footer__headaing" tabindex="-1">X-Cart 4</h3>
            <ul class="footer__list">
                <li>
                    <a href="https://www.x-cart.com/classic/features.html" class="footer__link">Overview</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/classic/features.html" class="footer__link">Features</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/classic-demo.html" class="footer__link">Live Demo</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/pricing.html" class="footer__link">Pricing</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/download.html#xc4" class="footer__link">Download</a>
                </li>
            </ul>
            <h3 role="heading" class="footer__headaing" tabindex="-1">Services</h3>
            <ul class="footer__list">
                <li>
                    <a href="https://www.x-cart.com/shopping-cart-migration.htm" class="footer__link">Switch to X‑Cart</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/ecommerce-support.html" class="footer__link">Premium Support</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/web-design.html" class="footer__link">Custom Design</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/custom-development.html" class="footer__link">Custom Development</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/hosting.html" class="footer__link">X-Cart Hosting</a>
                </li>
                <li>
                    <a href="https://www.x-payments.com" class="footer__link">X-Payments</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/seo-consulting.html" class="footer__link">SEO Consulting</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/services.html" class="footer__link">More services</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <h3 role="heading" class="footer__headaing" tabindex="-1">Support</h3>
            <ul class="footer__list">
                <li>
                    <a href="https://www.x-cart.com/ecommerce-support.html" class="footer__link">Pricing</a>
                </li>
                <li>
                    <a href="https://secure.x-cart.com/" class="footer__link">Support HelpDesk</a>
                </li>
                <li>
                    <a href="https://forum.x-cart.com/" class="footer__link">Community Forums</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/contact-us.html#verify" class="footer__link">X-Cart License Verification</a>
                </li>
                <li>
                    <a href="https://ideas.x-cart.com/forums/229428-x-cart-5-x" class="footer__link">Suggest new feature!</a>
                </li>
            </ul>
            <h3 role="heading" class="footer__headaing" tabindex="-1">Resources</h3>
            <ul class="footer__list">
                <li>
                    <a href="https://market.x-cart.com/addons/" class="footer__link">Addons</a>
                </li>
                <li>
                    <a href="https://market.x-cart.com/ecommerce-templates/" class="footer__link">Templates</a>
                </li>
                <li>
                    <a href="https://kb.x-cart.com/" class="footer__link">X-Cart 5 Wiki</a>
                </li>
                <li>
                    <a href="https://devs.x-cart.com/" class="footer__link">X-Cart 5 Developer docs</a>
                </li>
                <!--<li><a href="https://kb.x-cart.com/en/index.html" class="footer__link">X-Cart 4 Wiki</a></li>-->
                <li>
                    <a href="https://help.x-cart.com/index.php?title=Welcome_to_Qualiteam_Help" class="footer__link">X-Cart 4 Wiki</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/faq.html" class="footer__link">FAQs</a>
                </li>
                <li>
                    <a href="https://bt.x-cart.com/login_page.php" class="footer__link">Issue Tracker</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/ssl" class="footer__link">SSL Certificates</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/sitemap_index.xml" class="footer__link">Sitemap</a>
                </li>
            </ul>
        </div>
        <div class="footer__col footer-company">
            <h3 role="heading" class="footer__headaing" tabindex="-1">Company</h3>
            <ul class="footer__list footer__list--company">
                <li>
                    <a href="https://www.x-cart.com/about.html" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/contact-us.html" class="footer__link">Contact Us</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/privacy-policy.html" class="footer__link">Privacy Policy</a>
                </li>
                <li>
                    <a href="https://www.x-cart.com/license-agreement.html" class="footer__link">License Agreement</a>
                </li>
                <li>
                    <a href="https://drive.google.com/a/x-cart.com/?tab=mo#folders/0B4nrWZMKUeg4ZzNvM21aaTFWTDg" class="footer__link">Our Logos</a>
                </li>
            </ul>
            <ul class="footer__list footer__list--phones">
                <li>
                    <span class="footer__link--icon footer__link--icon-flag-us">
                        <a class="phone semi-mimic" href="tel:+18006577957">1-800-657-7957</a>
                    </span>
                </li>
                <li>
                    <span class="footer__link--icon footer__link--icon-flag-gb">
                        <svg xmlns="http://www.w3.org/2000/svg" height="14" width="18" viewBox="0 0 640 480">
                            <defs>
                                <clipPath id="flag_gb_a">
                                    <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z"></path>
                                </clipPath>
                            </defs>
                            <g clip-path="url(#flag_gb_a)" transform="matrix(.94 0 0 .94 80 0)">
                                <g stroke-width="1pt">
                                    <path fill="#006" d="M-256 0H768.02v512.01H-256z"></path>
                                    <path d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z" fill="#fff"></path>
                                    <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff"></path>
                                    <path d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z" fill="#c00"></path>
                                </g>
                            </g>
                        </svg>
                        <a class="phone semi-mimic" href="tel:08000488862">0800-048-8862</a>
                    </span>
                </li>
                <li>
                    <span class="footer__link--icon footer__link--icon-globus-thin">
                        <svg enable-background="new 0 0 50 50" height="14" version="1.1" viewBox="0 0 50 50" width="18" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <rect fill="none" height="50" width="50"></rect>
                            <circle cx="25" cy="25" fill="none" r="24" stroke="#5194c5" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></circle>
                            <ellipse cx="25" cy="25" fill="none" rx="12" ry="24" stroke="#5194c5" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></ellipse>
                            <path d="M6.365,40.438C10.766,37.729,17.479,36,25,36 c7.418,0,14.049,1.682,18.451,4.325" fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2"></path>
                            <path d="M43.635,9.563C39.234,12.271,32.521,14,25,14 c-7.417,0-14.049-1.682-18.451-4.325" fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2"></path>
                            <line fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2" x1="1" x2="49" y1="25" y2="25"></line>
                            <line fill="none" stroke="#5194c5" stroke-miterlimit="10" stroke-width="2" x1="25" x2="25" y1="1" y2="49"></line>
                        </svg>
                        <a class="phone semi-mimic" href="tel:+74996088900">+7 (499) 608-8900</a>
                    </span>
                </li>
            </ul>
            <ul class="footer__list footer__list--social">
                <li>
                    <a href="https://www.facebook.com/xcart" class="footer__link footer__link--social-facebook">
                        <span class="fa fa-fb-new-square"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/x_cart" class="footer__link footer__link--social-twitter">
                        <span class="fa fa-tw-new-square"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/xcart/" class="footer__link footer__link--social-instagram">
                        <span class="fa fa-inst-new"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__col footer-blog">
            <h3 role="heading" class="footer__headaing" tabindex="-1">eCommerce blog</h3>
            <ul class="footer__list">
                <li class="home-post post-13484">
                    <a href="https://www.x-cart.com/blog/x-cart-at-irce-2018.html" class="footer__link">
                        <div class="post-date">March 06, 2018</div>
                        <div class="post-title">Let's Go to Chicago! Meet X-Cart at IRCE on June 5-8, 2018</div>
                    </a>
                </li>
                <li class="home-post post-13285">
                    <a href="https://www.x-cart.com/blog/71lbs-atkins-rotary-case-study.html" class="footer__link">
                        <div class="post-date">February 27, 2018</div>
                        <div class="post-title">How Atkins Rotary got unexpected source of revenue due to UPS &amp; FedEx refunds automation</div>
                    </a>
                </li>
                <li class="home-post post-13113">
                    <a href="https://www.x-cart.com/blog/x-cart-at-seamless-middle-east-2018.html" class="footer__link">
                        <div class="post-date">February 08, 2018</div>
                        <div class="post-title">X-Cart Team at Seamless Middle East in Dubai on April 15-16</div>
                    </a>
                </li>
                <li class="home-post post-12866">
                    <a href="https://www.x-cart.com/blog/x-cart-v4-7-9-released-skrill-paypal-updates-store-notifications-seo-bug-fixes.html" class="footer__link">
                        <div class="post-date">January 15, 2018</div>
                        <div class="post-title">X-Cart v4.7.9: Skrill and PayPal updates, Store Notifications, SEO, Bug Fixes</div>
                    </a>
                </li>
                <li class="home-post post-12705">
                    <a href="https://www.x-cart.com/blog/x-cart-5-new-apps-dec-2017.html" class="footer__link">
                        <div class="post-date">December 19, 2017</div>
                        <div class="post-title">X-Cart 5 New Apps &amp; Themes: Coupon Roulette, Cost Price, Save for Later, SendPulse and more</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="svg-container hidden-xs-up" style="display:none"></div>
</footer>