<footer class="footer footer--more-links">
	<div class="ui container footer__container">
		<div class="footer__col">
			<h3 class="footer__headaing" role="heading" tabindex="-1">Информация</h3>
		  	<ul class="footer__list">
			    <li><a href="https://www.x-cart.ru/funkcionalnost.html" class="footer__link">Возможности X-Cart</a></li>
			    <li><a href="https://www.x-cart.ru/ceny.html" class="footer__link">Цены</a></li>
			    <li><a href="https://www.x-cart.ru/hosting.html" class="footer__link">Хостинг</a></li>
			    <li><a href="https://demostore.x-cart.com/?action=change_language&language=ru" class="footer__link">Демо</a></li>
			    <li><a href="https://www.x-cart.ru/download.html" class="footer__link">Скачать</a></li>
			    <li><a href="https://www.x-cart.ru/o-nas.html" class="footer__link">О компании</a></li>
					<li><a href="https://www.x-cart.ru/success-stories" class="footer__link">Клиенты</a></li>
					<li><a href="https://www.x-cart.ru/blog" class="footer__link">Блог</a></li>
				</ul>    
		     </ul>
		</div>
		<div class="footer__col">
			<h3 class="footer__headaing" role="heading" tabindex="-1">Контакты</h3>
			<ul class="footer__list">
				<li><a href="https://www.x-cart.ru/contact-us.html" class="footer__link">Форма обратной связи</a></li>
				<li class="phone">тел:&nbsp;<a class="phone semi-mimic" href="tel:+74996088900">+7 (499) 608-8900</a></li>
			</ul>
		</div>
	</div>
</footer>

<footer class="footer footer--main">
<div class="ui container footer__container">
	
	<div class="footer__col">
		<h3 class="footer__headaing" role="heading" tabindex="-1">Информация</h3>
  	<ul class="footer__list">
	    <li><a href="https://www.x-cart.ru/funkcionalnost.html" class="footer__link">Возможности X-Cart</a></li>
	    <li><a href="https://www.x-cart.ru/ceny.html" class="footer__link">Цены</a></li>
	    <li><a href="https://www.x-cart.ru/hosting.html" class="footer__link">Хостинг</a></li>
	    <li><a href="https://demostore.x-cart.com/?action=change_language&language=ru" class="footer__link">Демо</a></li>
	    <li><a href="https://www.x-cart.ru/download.html" class="footer__link">Скачать</a></li>    
     </ul>
	</div>
	
	<div class="footer__col">
		<ul class="footer__list margin__top_34">
			<li><a href="https://www.x-cart.ru/o-nas.html" class="footer__link">О компании</a></li>
			<li><a href="https://www.x-cart.ru/success-stories" class="footer__link">Клиенты</a></li>
			<li><a href="https://www.x-cart.ru/blog" class="footer__link">Блог</a></li>
		</ul>
	</div>

	<div class="footer__col">
		<h3 class="footer__headaing" role="heading" tabindex="-1">Контакты</h3>
		<ul class="footer__list">
			<li><a href="https://www.x-cart.ru/contact-us.html" class="footer__link">Форма обратной связи</a></li>
			<li class="phone">тел:&nbsp;<a class="phone semi-mimic" href="tel:+74996088900">+7 (499) 608-8900</a></li>
		</ul>
	</div>
	
	<div class="footer__col">
		<h3 class="footer__headaing" role="heading" tabindex="-1">Документы</h3>
		<ul class="footer__list">
			<li><a href="https://www.x-cart.ru/license-agreement.html" class="footer__link">Лицензионное соглашение</a></li>
	    <li><a href="https://www.x-cart.ru/privacy-policy.html" class="footer__link">Политика конфиденциальности</a></li>
	    <li><a href="https://drive.google.com/a/x-cart.com/?tab=mo#folders/0B4nrWZMKUeg4ZzNvM21aaTFWTDg" class="footer__link">Логотипы</a></li>
	</ul>
	</div>

</div>
</footer>