<div class="ui vertical navigation segment">
  <div class="ui stackable grid container">
    {% assign home_pages = site.pages | sort: 'order' %}
    {% for item in home_pages %}
      {% if item.title and item.categories contains 'home' and item.lang == page.lang %}
          <div class="sixteen wide mobile eight wide tablet third wide computer column">
              <div class="navigation-item">
                <a href="{{ item.url | prepend: site.baseurl }}">
                  <h2 class="ui header">
                    <i class="{{ item.icon }} icon"></i>
                    <div class="content">
                      {{ item.title }}
                    </div>
                  </h2>
                  <p>{{ item.description }}</p>
                </a>
            </div>
          </div>
      {% endif %}
    {% endfor %}

    <!-- link to developer docs -->
    <div class="sixteen wide mobile eight wide tablet third wide computer column">
      <div class="navigation-item">

        {% if site.type == 'devs' %}
        <a href="{{ site.data.labels['kb_index_link'][page.lang] }}">
          <h2 class="ui header">
            <i class="book icon"></i>
            <div class="content">
              {{ site.data.labels['Go to knowledge base'][page.lang] }}
            </div>
          </h2>
          <p>{{ site.data.labels['knowledge_base_desc'][page.lang] }}</p>
        </a>
        {% else %}
        <a href="{{ site.data.labels['devs_index_link'][page.lang] }}">
          <h2 class="ui header">
            <i class="book icon"></i>
            <div class="content">
              {{ site.data.labels['Go to developer docs'][page.lang] }}
            </div>
          </h2>
          <p>{{ site.data.labels['developer_docs_desc'][page.lang] }}</p>
        </a>
        {% endif %}
      </div>
    </div>

    {% if site.type != 'devs' %}
    <!-- reverse link -->
    <div class="sixteen wide mobile eight wide tablet third wide computer column">
      <div class="navigation-item">
        <a href="{{ site.data.labels['kb_index_link_reverse'][page.lang] }}">
          <h2 class="ui header">
            <i class="globe icon"></i>
            <div class="content">
              {{ site.data.labels['Go to knowledge base reverse'][page.lang] }}
            </div>
          </h2>
          <p>{{ site.data.labels['knowledge_base_desc_reverse'][page.lang] }}</p>
        </a>
      </div>
    </div>
    {% endif %}

  </div>
</div>