<aside class="sidebar sixteen wide tablet four wide computer column">
  <a class="ui basic button content-opener" data-target="#navigation-menu" data-collapse>
    {{ site.data.labels['Navigation'][page.lang] }}
    <i class="icon plus"></i>
  </a>
  {% assign articles_part = site.articles_path | append: '/' %}
  {% assign baseurl = page.url | remove_first: '/' | remove_first: articles_part | remove: 'index.html' | split: '/' | first %}
  {% assign baseurl = baseurl | prepend: articles_part %}

  {% navigation_menu baseurl %}
</aside>
<div class="spacer one wide column computer only"></div>