{
    "swagger": "2.0",
    "info": {
        "title": "X-Cart REST API",
        "description": "",
        "version": "5.3.3.3"
    },
    "host": "demostore.x-cart.com",
    "basePath": "/admin.php?target=RESTAPI&",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "_path=address/0": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Add new address",
                "operationId": "createAddress",
                "parameters": [
                    {
                        "parameter": "address_body",
                        "name": "body",
                        "in": "body",
                        "description": "Address object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Address"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Address"
                        }
                    }
                }
            }
        },
        "_path=address/{id}": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Retrieve address by id",
                "operationId": "readAddress",
                "parameters": [
                    {
                        "parameter": "address_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Address object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Address"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Address"
                ],
                "summary": "Update address by id",
                "operationId": "updateAddress",
                "parameters": [
                    {
                        "parameter": "address_body",
                        "name": "body",
                        "in": "body",
                        "description": "Address object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Address"
                        }
                    },
                    {
                        "parameter": "address_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Address object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Address"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Address"
                ],
                "summary": "Delete address by id",
                "operationId": "deleteAddress",
                "parameters": [
                    {
                        "parameter": "address_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Address object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Address"
                        }
                    }
                }
            }
        },
        "_path=address": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Retrieve addresses by conditions",
                "operationId": "readAllAddress",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Address"
                            }
                        }
                    }
                }
            }
        },
        "_path=addressfield/0": {
            "post": {
                "tags": [
                    "AddressField"
                ],
                "summary": "Add new address field",
                "operationId": "createAddressfield",
                "parameters": [
                    {
                        "parameter": "addressfield_body",
                        "name": "body",
                        "in": "body",
                        "description": "AddressField object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressField"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressField"
                        }
                    }
                }
            }
        },
        "_path=addressfield/{id}": {
            "get": {
                "tags": [
                    "AddressField"
                ],
                "summary": "Retrieve address field by id",
                "operationId": "readAddressfield",
                "parameters": [
                    {
                        "parameter": "addressfield_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AddressField object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressField"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AddressField"
                ],
                "summary": "Update address field by id",
                "operationId": "updateAddressfield",
                "parameters": [
                    {
                        "parameter": "addressfield_body",
                        "name": "body",
                        "in": "body",
                        "description": "AddressField object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressField"
                        }
                    },
                    {
                        "parameter": "addressfield_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AddressField object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressField"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AddressField"
                ],
                "summary": "Delete address field by id",
                "operationId": "deleteAddressfield",
                "parameters": [
                    {
                        "parameter": "addressfield_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AddressField object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressField"
                        }
                    }
                }
            }
        },
        "_path=addressfield": {
            "get": {
                "tags": [
                    "AddressField"
                ],
                "summary": "Retrieve address fields by conditions",
                "operationId": "readAllAddressfield",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AddressField"
                            }
                        }
                    }
                }
            }
        },
        "_path=addressfieldvalue/0": {
            "post": {
                "tags": [
                    "AddressFieldValue"
                ],
                "summary": "Add new address field value",
                "operationId": "createAddressfieldvalue",
                "parameters": [
                    {
                        "parameter": "addressfieldvalue_body",
                        "name": "body",
                        "in": "body",
                        "description": "AddressFieldValue object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                        }
                    }
                }
            }
        },
        "_path=addressfieldvalue/{id}": {
            "get": {
                "tags": [
                    "AddressFieldValue"
                ],
                "summary": "Retrieve address field value by id",
                "operationId": "readAddressfieldvalue",
                "parameters": [
                    {
                        "parameter": "addressfieldvalue_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AddressFieldValue object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AddressFieldValue"
                ],
                "summary": "Update address field value by id",
                "operationId": "updateAddressfieldvalue",
                "parameters": [
                    {
                        "parameter": "addressfieldvalue_body",
                        "name": "body",
                        "in": "body",
                        "description": "AddressFieldValue object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                        }
                    },
                    {
                        "parameter": "addressfieldvalue_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AddressFieldValue object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AddressFieldValue"
                ],
                "summary": "Delete address field value by id",
                "operationId": "deleteAddressfieldvalue",
                "parameters": [
                    {
                        "parameter": "addressfieldvalue_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AddressFieldValue object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                        }
                    }
                }
            }
        },
        "_path=addressfieldvalue": {
            "get": {
                "tags": [
                    "AddressFieldValue"
                ],
                "summary": "Retrieve address field values by conditions",
                "operationId": "readAllAddressfieldvalue",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AddressFieldValue"
                            }
                        }
                    }
                }
            }
        },
        "_path=attribute/0": {
            "post": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Add new product attribute",
                "operationId": "createAttribute",
                "parameters": [
                    {
                        "parameter": "attribute_body",
                        "name": "body",
                        "in": "body",
                        "description": "Attribute object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Attribute"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Attribute"
                        }
                    }
                }
            }
        },
        "_path=attribute/{id}": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Retrieve product attribute by id",
                "operationId": "readAttribute",
                "parameters": [
                    {
                        "parameter": "attribute_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Attribute object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Attribute"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Update product attribute by id",
                "operationId": "updateAttribute",
                "parameters": [
                    {
                        "parameter": "attribute_body",
                        "name": "body",
                        "in": "body",
                        "description": "Attribute object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Attribute"
                        }
                    },
                    {
                        "parameter": "attribute_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Attribute object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Attribute"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Delete product attribute by id",
                "operationId": "deleteAttribute",
                "parameters": [
                    {
                        "parameter": "attribute_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Attribute object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Attribute"
                        }
                    }
                }
            }
        },
        "_path=attribute": {
            "get": {
                "tags": [
                    "Attribute"
                ],
                "summary": "Retrieve product attributes by conditions",
                "operationId": "readAllAttribute",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[product]",
                        "name": "_cnd[product]",
                        "description": "Filters attributes by certain product id (leave empty to search attributes without product)",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[productClass]",
                        "name": "_cnd[productClass]",
                        "description": "Filters attributes by product class ids",
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[attributeGroup]",
                        "name": "_cnd[attributeGroup]",
                        "description": "Filters attributes by attribute group id (leave empty to search attributes without group)",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[type]",
                        "name": "_cnd[type]",
                        "description": "Filters attributes by type",
                        "type": "string",
                        "enum": [
                            "S",
                            "T",
                            "C"
                        ]
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[name]",
                        "name": "_cnd[name]",
                        "description": "Filters attributes by name",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Attribute"
                            }
                        }
                    }
                }
            }
        },
        "_path=attributegroup/0": {
            "post": {
                "tags": [
                    "AttributeGroup"
                ],
                "summary": "Add new attribute group",
                "operationId": "createAttributegroup",
                "parameters": [
                    {
                        "parameter": "attributegroup_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeGroup object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                        }
                    }
                }
            }
        },
        "_path=attributegroup/{id}": {
            "get": {
                "tags": [
                    "AttributeGroup"
                ],
                "summary": "Retrieve attribute group by id",
                "operationId": "readAttributegroup",
                "parameters": [
                    {
                        "parameter": "attributegroup_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeGroup object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AttributeGroup"
                ],
                "summary": "Update attribute group by id",
                "operationId": "updateAttributegroup",
                "parameters": [
                    {
                        "parameter": "attributegroup_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeGroup object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                        }
                    },
                    {
                        "parameter": "attributegroup_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeGroup object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttributeGroup"
                ],
                "summary": "Delete attribute group by id",
                "operationId": "deleteAttributegroup",
                "parameters": [
                    {
                        "parameter": "attributegroup_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeGroup object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                        }
                    }
                }
            }
        },
        "_path=attributegroup": {
            "get": {
                "tags": [
                    "AttributeGroup"
                ],
                "summary": "Retrieve attribute groups by conditions",
                "operationId": "readAllAttributegroup",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AttributeGroup"
                            }
                        }
                    }
                }
            }
        },
        "_path=attributeoption/0": {
            "post": {
                "tags": [
                    "AttributeOption"
                ],
                "summary": "Add new attribute option",
                "operationId": "createAttributeoption",
                "parameters": [
                    {
                        "parameter": "attributeoption_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeOption object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                        }
                    }
                }
            }
        },
        "_path=attributeoption/{id}": {
            "get": {
                "tags": [
                    "AttributeOption"
                ],
                "summary": "Retrieve attribute option by id",
                "operationId": "readAttributeoption",
                "parameters": [
                    {
                        "parameter": "attributeoption_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeOption object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AttributeOption"
                ],
                "summary": "Update attribute option by id",
                "operationId": "updateAttributeoption",
                "parameters": [
                    {
                        "parameter": "attributeoption_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeOption object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                        }
                    },
                    {
                        "parameter": "attributeoption_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeOption object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttributeOption"
                ],
                "summary": "Delete attribute option by id",
                "operationId": "deleteAttributeoption",
                "parameters": [
                    {
                        "parameter": "attributeoption_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeOption object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                        }
                    }
                }
            }
        },
        "_path=attributeoption": {
            "get": {
                "tags": [
                    "AttributeOption"
                ],
                "summary": "Retrieve attribute options by conditions",
                "operationId": "readAllAttributeoption",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AttributeOption"
                            }
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevaluecheckbox/0": {
            "post": {
                "tags": [
                    "AttributeValue\\AttributeValueCheckbox"
                ],
                "summary": "Add new checkbox attribute value",
                "operationId": "createAttributevalue-attributevaluecheckbox",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluecheckbox_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeValueCheckbox object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevaluecheckbox/{id}": {
            "get": {
                "tags": [
                    "AttributeValue\\AttributeValueCheckbox"
                ],
                "summary": "Retrieve checkbox attribute value by id",
                "operationId": "readAttributevalue-attributevaluecheckbox",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluecheckbox_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueCheckbox object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AttributeValue\\AttributeValueCheckbox"
                ],
                "summary": "Update checkbox attribute value by id",
                "operationId": "updateAttributevalue-attributevaluecheckbox",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluecheckbox_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeValueCheckbox object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                        }
                    },
                    {
                        "parameter": "attributevalue-attributevaluecheckbox_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueCheckbox object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttributeValue\\AttributeValueCheckbox"
                ],
                "summary": "Delete checkbox attribute value by id",
                "operationId": "deleteAttributevalue-attributevaluecheckbox",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluecheckbox_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueCheckbox object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevaluecheckbox": {
            "get": {
                "tags": [
                    "AttributeValue\\AttributeValueCheckbox"
                ],
                "summary": "Retrieve checkbox attribute values by conditions",
                "operationId": "readAllAttributevalue-attributevaluecheckbox",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "name": "_cnd[product]",
                        "description": "Filters attribute values by product id",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueCheckbox"
                            }
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevalueselect/0": {
            "post": {
                "tags": [
                    "AttributeValue\\AttributeValueSelect"
                ],
                "summary": "Add new select attribute value",
                "operationId": "createAttributevalue-attributevalueselect",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevalueselect_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeValueSelect object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevalueselect/{id}": {
            "get": {
                "tags": [
                    "AttributeValue\\AttributeValueSelect"
                ],
                "summary": "Retrieve select attribute value by id",
                "operationId": "readAttributevalue-attributevalueselect",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevalueselect_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueSelect object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AttributeValue\\AttributeValueSelect"
                ],
                "summary": "Update select attribute value by id",
                "operationId": "updateAttributevalue-attributevalueselect",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevalueselect_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeValueSelect object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                        }
                    },
                    {
                        "parameter": "attributevalue-attributevalueselect_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueSelect object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttributeValue\\AttributeValueSelect"
                ],
                "summary": "Delete select attribute value by id",
                "operationId": "deleteAttributevalue-attributevalueselect",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevalueselect_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueSelect object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevalueselect": {
            "get": {
                "tags": [
                    "AttributeValue\\AttributeValueSelect"
                ],
                "summary": "Retrieve select attribute values by conditions",
                "operationId": "readAllAttributevalue-attributevalueselect",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "name": "_cnd[product]",
                        "description": "Filters attribute values by product id",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueSelect"
                            }
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevaluetext/0": {
            "post": {
                "tags": [
                    "AttributeValue\\AttributeValueText"
                ],
                "summary": "Add new text attribute value",
                "operationId": "createAttributevalue-attributevaluetext",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluetext_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeValueText object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevaluetext/{id}": {
            "get": {
                "tags": [
                    "AttributeValue\\AttributeValueText"
                ],
                "summary": "Retrieve text attribute value by id",
                "operationId": "readAttributevalue-attributevaluetext",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluetext_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueText object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "AttributeValue\\AttributeValueText"
                ],
                "summary": "Update text attribute value by id",
                "operationId": "updateAttributevalue-attributevaluetext",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluetext_body",
                        "name": "body",
                        "in": "body",
                        "description": "AttributeValueText object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                        }
                    },
                    {
                        "parameter": "attributevalue-attributevaluetext_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueText object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttributeValue\\AttributeValueText"
                ],
                "summary": "Delete text attribute value by id",
                "operationId": "deleteAttributevalue-attributevaluetext",
                "parameters": [
                    {
                        "parameter": "attributevalue-attributevaluetext_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the AttributeValueText object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                        }
                    }
                }
            }
        },
        "_path=attributevalue-attributevaluetext": {
            "get": {
                "tags": [
                    "AttributeValue\\AttributeValueText"
                ],
                "summary": "Retrieve text attribute values by conditions",
                "operationId": "readAllAttributevalue-attributevaluetext",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "name": "_cnd[product]",
                        "description": "Filters attribute values by product id",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\AttributeValue\\AttributeValueText"
                            }
                        }
                    }
                }
            }
        },
        "_path=cart/0": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "summary": "Add new cart",
                "operationId": "createCart",
                "parameters": [
                    {
                        "parameter": "cart_body",
                        "name": "body",
                        "in": "body",
                        "description": "Cart object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Cart"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Cart"
                        }
                    }
                }
            }
        },
        "_path=cart/{id}": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Retrieve cart by id",
                "operationId": "readCart",
                "parameters": [
                    {
                        "parameter": "cart_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Cart object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Cart"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Cart"
                ],
                "summary": "Update cart by id",
                "operationId": "updateCart",
                "parameters": [
                    {
                        "parameter": "cart_body",
                        "name": "body",
                        "in": "body",
                        "description": "Cart object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Cart"
                        }
                    },
                    {
                        "parameter": "cart_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Cart object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Cart"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Cart"
                ],
                "summary": "Delete cart by id",
                "operationId": "deleteCart",
                "parameters": [
                    {
                        "parameter": "cart_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Cart object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Cart"
                        }
                    }
                }
            }
        },
        "_path=cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "summary": "Retrieve carts by conditions",
                "operationId": "readAllCart",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Cart"
                            }
                        }
                    }
                }
            }
        },
        "_path=category/0": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Add new category",
                "operationId": "createCategory",
                "parameters": [
                    {
                        "parameter": "category_body",
                        "name": "body",
                        "in": "body",
                        "description": "Category object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Category"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Category"
                        }
                    }
                }
            }
        },
        "_path=category/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve category by id",
                "operationId": "readCategory",
                "parameters": [
                    {
                        "parameter": "category_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Category object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Category"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "Update category by id",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "parameter": "category_body",
                        "name": "body",
                        "in": "body",
                        "description": "Category object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Category"
                        }
                    },
                    {
                        "parameter": "category_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Category object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Category"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Delete category by id",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "parameter": "category_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Category object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Category"
                        }
                    }
                }
            }
        },
        "_path=category": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Retrieve categories by conditions",
                "operationId": "readAllCategory",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[parent]",
                        "name": "_cnd[parent]",
                        "description": "Filters categories by parent id",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[subTree]",
                        "name": "_cnd[subTree]",
                        "description": "Retrieve categories subtree by parent id",
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[term]",
                        "name": "_cnd[term]",
                        "description": "Search by term",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[lastUsage]",
                        "name": "_cnd[lastUsage]",
                        "description": "Filters last used categories",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Category"
                            }
                        }
                    }
                }
            }
        },
        "_path=cleanurl/0": {
            "post": {
                "tags": [
                    "CleanURL"
                ],
                "summary": "Add new clean url",
                "operationId": "createCleanurl",
                "parameters": [
                    {
                        "parameter": "cleanurl_body",
                        "name": "body",
                        "in": "body",
                        "description": "CleanURL object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\CleanURL"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\CleanURL"
                        }
                    }
                }
            }
        },
        "_path=cleanurl/{id}": {
            "get": {
                "tags": [
                    "CleanURL"
                ],
                "summary": "Retrieve clean url by id",
                "operationId": "readCleanurl",
                "parameters": [
                    {
                        "parameter": "cleanurl_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the CleanURL object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\CleanURL"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "CleanURL"
                ],
                "summary": "Update clean url by id",
                "operationId": "updateCleanurl",
                "parameters": [
                    {
                        "parameter": "cleanurl_body",
                        "name": "body",
                        "in": "body",
                        "description": "CleanURL object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\CleanURL"
                        }
                    },
                    {
                        "parameter": "cleanurl_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the CleanURL object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\CleanURL"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "CleanURL"
                ],
                "summary": "Delete clean url by id",
                "operationId": "deleteCleanurl",
                "parameters": [
                    {
                        "parameter": "cleanurl_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the CleanURL object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\CleanURL"
                        }
                    }
                }
            }
        },
        "_path=cleanurl": {
            "get": {
                "tags": [
                    "CleanURL"
                ],
                "summary": "Retrieve all clean urls",
                "operationId": "readAllCleanurl",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\CleanURL"
                            }
                        }
                    }
                }
            }
        },
        "_path=config/0": {
            "post": {
                "tags": [
                    "Config"
                ],
                "summary": "Add new config entry",
                "operationId": "createConfig",
                "parameters": [
                    {
                        "parameter": "config_body",
                        "name": "body",
                        "in": "body",
                        "description": "Config object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Config"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Config"
                        }
                    }
                }
            }
        },
        "_path=config/{id}": {
            "get": {
                "tags": [
                    "Config"
                ],
                "summary": "Retrieve config entry by id",
                "operationId": "readConfig",
                "parameters": [
                    {
                        "parameter": "config_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Config object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Config"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Config"
                ],
                "summary": "Update config entry by id",
                "operationId": "updateConfig",
                "parameters": [
                    {
                        "parameter": "config_body",
                        "name": "body",
                        "in": "body",
                        "description": "Config object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Config"
                        }
                    },
                    {
                        "parameter": "config_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Config object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Config"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Config"
                ],
                "summary": "Delete config entry by id",
                "operationId": "deleteConfig",
                "parameters": [
                    {
                        "parameter": "config_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Config object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Config"
                        }
                    }
                }
            }
        },
        "_path=config": {
            "get": {
                "tags": [
                    "Config"
                ],
                "summary": "Retrieve all config entries",
                "operationId": "readAllConfig",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Config"
                            }
                        }
                    }
                }
            }
        },
        "_path=country/0": {
            "post": {
                "tags": [
                    "Country"
                ],
                "summary": "Add new country",
                "operationId": "createCountry",
                "parameters": [
                    {
                        "parameter": "country_body",
                        "name": "body",
                        "in": "body",
                        "description": "Country object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Country"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Country"
                        }
                    }
                }
            }
        },
        "_path=country/{id}": {
            "get": {
                "tags": [
                    "Country"
                ],
                "summary": "Retrieve country by id",
                "operationId": "readCountry",
                "parameters": [
                    {
                        "parameter": "country_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Country object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Country"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Country"
                ],
                "summary": "Update country by id",
                "operationId": "updateCountry",
                "parameters": [
                    {
                        "parameter": "country_body",
                        "name": "body",
                        "in": "body",
                        "description": "Country object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Country"
                        }
                    },
                    {
                        "parameter": "country_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Country object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Country"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Country"
                ],
                "summary": "Delete country by id",
                "operationId": "deleteCountry",
                "parameters": [
                    {
                        "parameter": "country_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Country object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Country"
                        }
                    }
                }
            }
        },
        "_path=country": {
            "get": {
                "tags": [
                    "Country"
                ],
                "summary": "Retrieve countries by conditions",
                "operationId": "readAllCountry",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[substring]",
                        "name": "_cnd[substring]",
                        "description": "Retrieve country by substring",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[hasStates]",
                        "name": "_cnd[hasStates]",
                        "description": "Retrieve only countries with states",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Country"
                            }
                        }
                    }
                }
            }
        },
        "_path=currency/0": {
            "post": {
                "tags": [
                    "Currency"
                ],
                "summary": "Add new currency",
                "operationId": "createCurrency",
                "parameters": [
                    {
                        "parameter": "currency_body",
                        "name": "body",
                        "in": "body",
                        "description": "Currency object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Currency"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Currency"
                        }
                    }
                }
            }
        },
        "_path=currency/{id}": {
            "get": {
                "tags": [
                    "Currency"
                ],
                "summary": "Retrieve currency by id",
                "operationId": "readCurrency",
                "parameters": [
                    {
                        "parameter": "currency_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Currency object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Currency"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Currency"
                ],
                "summary": "Update currency by id",
                "operationId": "updateCurrency",
                "parameters": [
                    {
                        "parameter": "currency_body",
                        "name": "body",
                        "in": "body",
                        "description": "Currency object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Currency"
                        }
                    },
                    {
                        "parameter": "currency_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Currency object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Currency"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Currency"
                ],
                "summary": "Delete currency by id",
                "operationId": "deleteCurrency",
                "parameters": [
                    {
                        "parameter": "currency_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the Currency object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Currency"
                        }
                    }
                }
            }
        },
        "_path=currency": {
            "get": {
                "tags": [
                    "Currency"
                ],
                "summary": "Retrieve all currencies",
                "operationId": "readAllCurrency",
                "parameters": [
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[limit]",
                        "name": "_cnd[limit]",
                        "description": "Sets the offset (first item) and the limit (second item)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "query",
                        "required": false,
                        "parameter": "_cnd[orderBy]",
                        "name": "_cnd[orderBy]",
                        "description": "Sets sorting order field",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/XLite\\Model\\Currency"
                            }
                        }
                    }
                }
            }
        },
        "_path=image-bannerrotationimage/0": {
            "post": {
                "tags": [
                    "Image\\BannerRotationImage"
                ],
                "summary": "Add new banner image",
                "operationId": "createImage-bannerrotationimage",
                "parameters": [
                    {
                        "parameter": "image-bannerrotationimage_body",
                        "name": "body",
                        "in": "body",
                        "description": "BannerRotationImage object that needs to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Image\\BannerRotationImage"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Image\\BannerRotationImage"
                        }
                    }
                }
            }
        },
        "_path=image-bannerrotationimage/{id}": {
            "get": {
                "tags": [
                    "Image\\BannerRotationImage"
                ],
                "summary": "Retrieve banner image by id",
                "operationId": "readImage-bannerrotationimage",
                "parameters": [
                    {
                        "parameter": "image-bannerrotationimage_id",
                        "name": "id",
                        "in": "path",
                        "description": "Id value of the BannerRotationImage object",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/XLite\\Model\\Image\\BannerRotationImage"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Image\\BannerRotationImage"
                ],
                "summary": "Update banner image by id",
                "operationId": "updateImage-bannerrotationimage",
                "parameters": [
                    {
                        "parameter": "image-bannerrotationimage_body",
                        "name": "body",
[...]
