---
lang: en
layout: article_with_sidebar
updated_at: '2020-09-16 13:29 +0400'
identifier: ref_2WwBaO2d
title: Age Verification
order: 16
published: true
---
If your site has adult material such as alcohol, tobacco, etc., you need to filter visitors to allow access to the site content to users of age only. The [Age Verification Popup](https://market.x-cart.com/addons/age-verification.html "Age Verification") add-on can serve you here. When enabled and set up, this addon displays an age verification pop-up in a storefront for every not logged-in customer and does not allow underaged customers to view the site content.

To install the add-on follow the instructions from {% link "Installing Addons from the X-Cart App Store" ref_Vn1mMUw9 %}.

When installed, proceed to the add-on settings page by clicking the **Settings** link:
![541-age-verification.png]({{site.baseurl}}/attachments/ref_2WwBaO2d/541-age-verification.png)

You will see a page like this:
![settings-page.png]({{site.baseurl}}/attachments/ref_2WwBaO2d/settings-page.png)

The settings of the Age Verification Popup add-on are divided into 3 sections:

### Descriptions

The settings of this section allow a store admin to configure the texts of the buttons and descriptions in the age verification form.

* **Title** : Use this field to specify the form title. If necessary the field allows using images and video files.
* **Description** : Use this field to explain your customers why you need to collect personal data from them.
* **Deny message** : Use this field to specify a message that the site visitors will see in case of a denied access to your site.
* **URL away** : Specify the URL you site will redirect visitors in case of a denied access.
* **Success button text** : Specify a text of the button that will allow visitors to enter the site.
* **Failure button text** : Specify a text of the button that will deny visitors from access to your site.
* **Away button text** : Specify a text of the button that will redirect visitors with denied acccess from your site to the site you specified in URL away.

### Visual Popup Settings

The settings of this section allow a store admin to configure the design of the age verification form.

* **Width** : Set the width of a pop-up window in pixels.
* **Height** : Set the height of a pop-up window in pixels.
* **Backround color** : Select the background color for the pop-up window using the color palette.
* **Background opacity** : Set the value in percents.
* **Age is setting** : If a toggle is set to YES, visitors can specify their age in the pop-up. 
   ![age-verification-request-cus.png]({{site.baseurl}}/attachments/ref_2WwBaO2d/age-verification-request-cus.png)
   Alternatively, visitors choose between the options set with the help of the **Success button text** and **Failure button text** buttons.

### Additional Settings

The settings of this section allow a store admin to configure general settings.

* **Minimum age** : Set the minimum age of visitors allowed to enter your site.
* **Popup enabled** : If the toggle is set to YES, the Age Verification Pop-up displays in the storefront to the visitors.
