
aside.sidebar {
    padding: 1rem 0 0 .6rem !important;

    /* Tablet Only */
    @media only screen and (min-width:768px) and (max-width: 991px) {
        padding: 0 1em 0 1em !important;
    }

    .content-opener.button {
        margin: 0px;
        display: none;
        text-align: center;

        /* Phone and Tablet Only */
        @media only screen and (max-width: 991px) {
            display: block;
        }
    }

    .ui.accordion:not(.styled) .accordion .title~.content:not(.ui), .ui.accordion:not(.styled) .title~.content:not(.ui) {
        padding: .15em 0 0em;
    }

    #navigation-menu {
        border-right-color: rgba(34, 36, 38, 0.05);

        width: 100%;
        margin: 0;

        /* Phone and Tablet Only */
        @media only screen and (max-width: 991px) {
            display: none;
            margin: 1em 0 1em 0;
        }

        /* Computer and higher */
        @media only screen and (min-width: 992px) {
            display: block !important;
        }

        .menu .item {
            font-size: 0.95em;
        }

        .anchor-link.item {
            font-size: $small-font-size;

            border-right-width: 0px;
            padding: 0.25em 0;
            a {
                cursor: pointer;
                line-height: 1.5em;
            }

            .title {
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);

                cursor: default;
                padding: 0.15rem 1.5rem 0.15rem 1rem;

                .link {
                    @include flex-grow(1);
                }

                .link:hover, .opener:hover {
                    color: $link-hover;
                }

                .opener {
                    margin-right: -1.25rem;
                }
            }

            .title:hover {
                background: #f0f0f0;
            }
        }

        .anchor-link.item.has-sub {

            .title.active, .title.active + .content {
                border-left: 2px solid rgba(65,131,196,0.2);
                margin-left: -2px;
            }

            > .content {
                margin: 0px;
                padding-left: 1rem;
            }
        }
    }
}

.page.wide-page {
    aside.sidebar {
        padding: 1rem 0 0 2rem !important;
    }
}